################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/group_project/group_project/bin/Debug/group_project.exe
/group_project/group_project/bin/Debug/group_project.pdb
/group_project/group_project/obj/Debug/group_project.csproj.GenerateResource.cache
/group_project/group_project/obj/Debug/group_project.exe
/group_project/group_project/obj/Debug/group_project.pdb
/group_project/group_project/bin/Debug/group_project.exe
/group_project/group_project/obj/Debug/group_project.csproj.GenerateResource.cache
/group_project/group_project/obj/Debug/group_project.exe
/group_project/group_project/obj/Debug/group_project.pdb
/group_project/group_project/bin/Debug/group_project.pdb
/group_project/group_project/bin
